<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
         <link rel="stylesheet" href="~/css/style.css"/>
         <title>Random Word</title>
    </head>
    <body style="margin-top: 100px;">
        <center>
            <h5>Random Word #@ViewBag.count</h5>
             @if(@ViewBag.show)
             {
              <h1 style="border: 1px solid grey; padding: 10px; width: 300px;">@ViewBag.finalString</h1>
             }
            <form action="/generate" method="post">
                <input style="background-color: #a200ff; color: white;" type="submit" value="Generate Word">
            </form>
        </center>
    </body>
</html>